#navBar {
    height: 50px;
    background-color: #ef5350;
    border-bottom: solid black 1px;
}

a {
    margin: 0px;
    /*margin-left: 14.5px;*/
    line-height: 50px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003A70;
    border-bottom: solid black 1px;
}
  
li {
    float: left;
    border-right:1px solid black;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #3D7DCA;
}
  
.active {
    background-color: #FFCB05;
    color: black;
}

form {
    padding-right: 14.5px;
    line-height: 50px;
}