body {
    margin: 0px;
}

h1 {
    text-align: center;
    margin: 0px;
    height: 50px;
    line-height: 50px;
}

img {
    border: solid black 1px;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 25px;
    margin-top: 9px;
    float: right;
}

p, h1 {
    color: white;
}

#title {
    text-decoration: underline;
    text-decoration-color: black;
}

#content {
    margin-left: 25px;
}